.main {   
    overflow-y: scroll;
    height: 72vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95vw;
    flex-wrap: wrap;
    align-self: center;
    border-top: 1px solid white;
    user-select: none;
    /* border-bottom: 1px solid white; */
}

.postCards {
    border: 2px solid white;
    width: 13em;
    height: 10em;
    margin: 10px 10px;
    border-radius: 5%;
    box-shadow: 10px 10px 10px 3px rgb(35, 35, 35);
    background-color: #282c34;
    text-align: left;
    padding: 20px;

}
.price{
    color: white;
    font-size: 15px;
    font-weight:600;
}
.description {
    color: white;
    font-size: 17px;
    font-style: italic;
}
.title {
    border-bottom: 0.5px solid lightgray;
    padding-bottom: 6px;
    font-weight: 500;
    font-size: 22px;
}
.seller {
    font-size: 16px;
}
.searchWrapper {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 2px;
}
.searchNav {
    margin-right:1.2em;
}
.searchIcon {
    height: 20px;
    margin-left: 6px;
    color: rgb(238, 239, 239);
    border-left: 1px solid rgb(238, 239, 239);
    padding-left: 4px;
}
.heading {
    font-size: 23px;
    font-weight: 400;
    padding: 0 8px 0 0;
    margin: 5px 0 0 110px;
    font-style: oblique;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    user-select: none;
    /* color: rgb(168, 118, 118) */
}
.searchbar {
    width: 20em;
    background-color: rgb(238, 239, 239);
    text-align: center;
    height: 1.33em;
    user-select: none;
    
}
.spans {
    color:rgb(225, 224, 224)
}




.main::-webkit-scrollbar {
    border-radius: 30%;
}

.main::-webkit-scrollbar-track-piece {
    background: rgb(77, 53, 53);
    border-radius: 20%;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20%;
}


