.header {
    color:lightgray;
    font-size: 25px;
    border-bottom: 1px solid lightgray;
}
.seller {
    color: rgb(111, 1, 111)
}
.postCards {
    border: 2px solid white;
    width: 15em;
    height: 12em;
    margin: 10px 10px;
    border-radius: 5%;
    box-shadow: 10px 10px 10px 3px rgb(35, 35, 35);
    background-color: #29344c;
    text-align: left;
    padding: 20px;
    align-self: center;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}
.messages {
    color:lightgray;
    font-size: 15px;
    margin-top: 30px;
}
.messagebox {
    margin: 30px 15px 0 5px;
    padding-left: 20px;
    min-width: 200px;
    width: fit-content;
}

.postCards::-webkit-scrollbar {
    border-radius: 30%;
}

/* .postCards::-webkit-scrollbar-track-piece {
    background: rgb(194, 133, 133);
    border-radius: 20%;
} */
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20%;
}